.vscode/*.log

# Cypress V4.0.0
Test-ghost-v4.0.0/Cypress/cypress/videos

# Cypress V4.45.0
Test-ghost-v4.45.0-min/Cypress/cypress/videos

# Pruebas VRT
Report/node_modules/

# Pruebas de generacion de datos
Pruebas-generacion-datos/Cypress/node_modules/
Pruebas-generacion-datos/Cypress/images/
Pruebas-generacion-datos/Cypress/cypress/videos/

# Monkey & Ripper
Monkeys/cypress/videos/
Monkeys/node_modules/
Ripper/node_modules/
Ripper/results/